<div>
   {{> navbar}}
   <div class="main-container">
      <h1>Listado de productos en {{this.category}}</h1>

      <div class="cardsContainer">
         {{#each productList }}
         <div id="productContainer" class="card">
            <span id="productId" class="textCardId">{{this._id}}</span>
            <img id="productImage" name="imagen" src="{{this.image}}" alt="" class="card-image">
            <h5 id="productTitle" name="titulo" class="textCardTitle">{{this.title}}</h5>
            <p id="productDescription" name="descripcion">{{this.description}}</p>
            <p id="productPrice" name="precio" class="textCardPrice">{{this.price}}</p>
            <input type="button" class="add-cart-button xs-padding" value="Agregar Al Carrito">
         </div>
         {{/each}}
      </div>
   </div>
</div>
<script src="/js/products.js"></script>