
<nav class="navBar gridColumnFlow s-padding">
   <ul class="itemsLists gridColumnFlow">
      {{#each routes}}
      <li class="itemCart" id="itemCart">
         <a class="navBarItem" href={{this.route}}>{{this.label}}</a>
         {{#if this.subRoutes}}
         <div class="categoryListContainer" id="categoryListContainer">
            {{#each this.subRoutes}}
           <a class="categoryItem"href={{this.route}}>{{this.label}}</a>
         {{/each}}
         </div>
         {{/if}}
      </li>
      {{/each}}
      <li style="justify-self: end">
         <button id="logout">Logout</button>
      </li>
      <li>
         <img class="imageProfile" src="{{mandofotodeperfil}}" alt="imagenPerfil">
      </li>
   </ul>
</nav>

<script src="/js/logout.js"></script>