{{!-- <nav class="navBar gridColumnFlow s-padding">
   <ul class="itemsLists gridColumnFlow">
      <li class="itemCart">
         <a href="http://localhost:8080/">INICIO</a>
      </li>
      <li class="itemCart">
         <a href="http://localhost:8080/productos">PRODUCTOS</a>
      </li>
      <li class="itemCart">
         <a href="http://localhost:8080/contacto">CONTACTO</a>
      </li>
   </ul>
   <ul class="usersActions gridColumnFlow">
      <li class="itemCart cartLogo">
         <a href="http://localhost:8080/cart">CARRITO</a>
      </li>
      <li>
         <button id="logout">Desloguearse</button>
      </li>
      {{log routes}}
      <li class="itemCart">
         <a href="http://localhost:8080/admin">ADMIN</a>
      </li>

      <li>
         <img class="imageProfile" src="{{mandofotodeperfil}}" alt="imagenPerfil">
      </li>
   </ul>
</nav> --}}
<nav class="navBar gridColumnFlow s-padding">
   <ul class="itemsLists gridColumnFlow">
      {{#each routes}}
      <li class="itemCart">
         <a href={{this.route}}>{{this.label}}</a>
      </li>
      {{/each}}
      <li>
         <button id="logout">Desloguearse</button>
      </li>
      <li>
         <img class="imageProfile" src="{{mandofotodeperfil}}" alt="imagenPerfil">
      </li>
   </ul>
</nav>

<script src="/js/logout.js"></script>